*.suo
*.pidb
/UnityProject/Assets/Zenject/AddOns.meta
/UnityProject/Assets/Zenject/AddOns

# steve: ignore VIM config files that I use
.vim_l
.ackrc
.vimrc_l
project_root_marker
AssemblyBuild/Zenject-editor_WSA/obj/
AssemblyBuild/Zenject_WSA/bin/
AssemblyBuild/Zenject_WSA/obj/
